@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

/*************** BODY ***************/

body {
    margin: 0 auto;
}

/*************** DIMENSIONES ***************/

.logo {
    width: 200px;
    height: 50px;
}

.video {
    width: 100%;
    height: 70vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.espacio {
    padding: 3%;
}

.mitad-pantalla {
    flex: 1;
}

.height600px {
    height: 600px;
}

img {
    width: 100%;
    height: 100%;
}

.relleno-completo, footer .logo, footer nav, footer {
    padding: 15px;
}

.width400px {
    width: 400px;
}

article .imagen {
    width: 400px;
    height: 300px;
}

.carrusel {
    width: 20%;
    height: 200px;
}

.tamanio300px {
    width: 300px;
    height: 300px;
}

.width300px {
    width: 300px;
}

span .imagen {
    width: 300px;
    height: 400px;
}

.relleno20 {
    padding: 20px 100px 300px 100px;
}

#nombreyapellido, #mail, #numero-telefono, #nombre-compania, #mensaje{
    width: 100%;
    height: 2.5rem;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.iconos a, .iconos img[class="buscar"] {
    width: 30px;
    height: 30px;
}

.espacio-flex {
    column-gap: 1.25rem;
}

.margintop20px {
    margin-top: 20px;
}

/***************  BOTONES ***************/

li a, footer button a, section button a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
}

button {
    border: none;
    padding: 0;
}

section button {
    height: 50px;
    background: none;
}

section button a:hover {
    background-color: #231f20;
    color: white;
    transition: 0.5s;
    border-radius: 20px;
}

.botonestatico {
    background-color: #231f20;
    color: white;
}

/***************  HEADER ***************/

header {
    position: sticky;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.verde-hover:hover {
    background-color: #85c441;
    border-radius: 5px;
    transition: 0.5s;
}

header button, footer button {
    background: linear-gradient(90deg, rgba(0,186,195,1) 0%, rgba(133,196,65,1) 35%, rgba(114,71,156,1) 100%);
}

/***************  INICIO ***************/

.contenido, .testimonial{
    display: none;
}

.contenido .visible, .testimonial.active {
    display: block;
}

.texto-centrado, .center-mobile {
    text-align: center;
}

.texto-izquierda {
    text-align: start;
}

.texto-derecha {
    text-align: end;
}

/***************  BLOG ***************/

.borde {
    border: 1px solid black;
}

label[for="buscar"] {
    height: 50px;
}

input, textarea {
    display: block;
    height: 100%;
    padding: 0;
    border: none;
}

/***************  SOBRE NOSOTROS ***************/

.circular {
    border-radius: 50%;
}

/***************  NUESTRO EQUIPO ***************/

.background-image {
    background-image: url("../assets/nuestro-equipo/equipo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 3%;
}

.background-image h1 {
    margin-top: 0;
}

/***************  CONTACTO ***************/

div[class="mitad-pantalla verde"] {
    background-color: #85c441;
    width: calc(100% - 30px);
    padding: 0 15px 15px 15px;
    height: 100%;
}

/***************  FOOTER ***************/

footer {
    background-color: #231f20;
    text-align: center;
}

footer, footer a {
    color: white;
}

/***************  FLEXBOX ***************/

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.grid1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.flexbox1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flexbox3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.flexbox4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}

.flexbox5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flexbox6 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexbox7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flexbox8 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/***************  PROPIEDADES GENÉRICAS ***************/

h1, h2, h3, h4, h5, h6, p, a, label, button {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.no-borde {
    border: none;
}

/***************  RESPONSIVE ***************/

.iconos-responsive {
    display: none;
}

@media only screen and (max-width: 426px) {
    .logo {
        width: 100px;
        height: 25px;
    }

    footer nav {
        display: none;
    }

    header[class="flexbox1 relleno-completo"] {
        flex-direction: row;
        top: 0;
    }

    .menu-desplegable {
        background-color: #231f20;
        position: fixed;
        top: 35px;
        width: 100%;
        height: calc(100% - 35px);
        overflow-y: auto;
        row-gap: 1.25rem;

        left: 100%;
        transition: left 0.5s;
    }

    header a {
        color:white;
    }

    header li:hover {
        background-color: #231f20;
        transition: 0.5s;
    }


    .visible1 {
        left: 0;
    }

    .iconos-responsive {
        display: block;
        width: 25px;
        height: 25px;
        background: white;
    }

    .relleno-completo {
        padding: 5px;
    }

    /***************  INDEX ***************/

    .flexbox1, .flexbox2, .flexbox5, .flexbox6, .flexbox8 {
        flex-wrap: wrap;
    }

    .mobile-column {
        flex-direction: column;
    }

    section div, section{
        flex-wrap: wrap;
    }

    .mitad-pantalla {
        flex: none;
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    /***************  BLOG ***************/

    .width400px, article .imagen, .width300px, span .imagen {
        width: 280px;
    }

    /***************  SOBRE NOSOTROS ***************/

    .texto-derecha, .texto-izquierda {
        text-align: center;
    }

    .relleno20 {
        padding: 100px;
    }

    /***************  CONTACTO ***************/
}

@media only screen and (min-width: 426px) and (max-width: 769px) {
    .logo {
        width: 50px;
        height: 25px;
    }

    .relleno-completo {
        padding: 5px;
    }

    header a, section, section a, footer, footer a {
        font-size: 0.45rem;
    }

    header a, footer a, footer button a, section button a {
        line-height: 25px;
    }

    header ul, footer li, label[for="buscar"] {
        height: 25px;
    }

    /***************  INDEX ***************/

    section button {
        height: 25px;
        font-size: 0.45rem;
    }

    .height600px {
        height: 400px;
    }

    .iconos a, .iconos img[class="buscar"] {
        width: 20px;
        height: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    /***************  SOBRE NOSOTROS ***************/

    .tamanio300px {
        width: 80px;
        height: 80px;
    }

    .width300px {
        width: 80px;
    }

    /***************  NUESTRO EQUIPO ***************/

    .flexbox6 {
        flex-wrap: wrap;
    }

    section[class="flexbox6 nowrap"] {
        flex-wrap: nowrap;
    }

    .relleno20 {
        padding: 20px 20px 200px 20px;
    }

    span .imagen {
        width: 80px;
        height: 100px;
    }

    /***************  CONTACTO ***************/

    #nombreyapellido, #mail, #numero-telefono, #nombre-compania, #mensaje {
        height: 1.25rem;
    }

    div[class="mitad-pantalla verde"] {
        padding: 0 15px;
    }

    .alto60vh {
        height: 60vh;
    }

    /***************  FOOTER ***************/

    footer .logo, footer nav, footer {
        padding: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) { /* PORTÁTIL */
    header, .relleno-completo {
        font-size: 0.75rem;
        padding: 10px;
    }

    .width400px {
        width: 300px;
    }

    article .imagen {
        width: 300px;
        height: 250px;
    }

    .width300px {
        width: 140px;
    }

    .tamanio300px, span .imagen {
        width: 140px;
        height: 140px;
    }

    .relleno20 {
        padding: 70px 70px 200px 70px;
    }
}