@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

body {
  padding-top: 101px; /* Para que el header no ocupe espacio del contenido que le sigue */
  font-family: 'Montserrat', sans-serif;
}

header nav {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3) !important;
  transition: top 0.5s;
} /* Efecto con javascript navbar (desktop) */

header .btn, footer .btn,
header .btn:active, footer .btn:active,
header .btn:hover, footer.btn:hover,
header .btn:focus, footer.btn:focus,
header .btn:disabled, footer.btn:disabled {
  background: linear-gradient(90deg, rgba(0,186,195,1) 0%, rgba(133,196,65,1) 35%, rgba(114,71,156,1) 100%);
  border: 1px solid black !important;
  border-radius: 10px !important;
  color: #231f20 !important;
}

.navbar-collapse {
  transition: height 0.5s ease;
} /* Efecto con javascript navbar (mobile)  */

header span {
  height: 67px !important;
  width: 67px !important;
} /* Icono Hamburger */

footer {
  background-color: #231f20;
}

.bg-verde {
  background-color: #85c441;
}

.navbar-nav > *, .text-decoration-none {
  transition: 1s;
} /* Para los botones del header y footer */

.navbar-nav > *:hover, .text-decoration-none:hover {
  background-color: #85c441;
  border-radius: 10px;
}

input:focus, textarea:focus {
  border-color: #78529f !important;
  box-shadow: 0 0 0 0.2rem #78529f !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  box-shadow: none;
} /* Se elimina el box-shadow por defecto boostrap */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} /* Icono hamburguer cambiado */

#whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
  z-index: 1;
}

video {
  width: 100%;
  max-height: calc(100vh - 101px);
} /* Tamaño recomendado, teniendo en cuenta el header */

#miAcordeon2 button:focus, #miAcordeon2 button:active, #miAcordeon2 button {
  border: none;
  background-color: transparent;
} /* botones de la sección "testimonios" */

#miAcordeon1 .collapsing, #miAcordeon2 .collapsing {
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
} /* Efecto transición en index */

.background-image-index {
  background-image: linear-gradient(rgba(0, 0, 255, 0), #231f20), url("../assets/index/principios-basicos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.background-image-nuestro-equipo {
  background-image: url("../assets/nuestro-equipo/equipo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 101px);
} /* Imagen de la section nuestro-equipo */

.accordion-button:focus,
.accordion-button:active,
.accordion-button:not(:focus):not(.collapsed),
.accordion-button.collapsed {
  border-color: unset;
  box-shadow: none;
  color: black;
} /* Se cambian los estilos de boostrap, del accordion en nuestro-equipo */

.accordion-button:focus::after,
.accordion-button:active::after,
.accordion-button:not(:focus):not(.collapsed)::after,
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-flush .accordion-item button {
  background-color: white;
  transition: 1s ease-in-out;
}

.accordion-flush .accordion-item button:hover,
.accordion-button:not(:focus):not(.collapsed),
.accordion-button:focus:not(.collapsed) {
  background-color: #85c441;
  box-shadow: inset 0 -20px 10px -5px rgba(0,0,0,0.4);
}

@media (min-width: 768px) {

  .scroll-animate {
    transform: translateY(100px);
    transition: transform 1s;
  } /* Efecto personalizado javascript */

  .scroll-animate.show {
    transform: translateY(0);
  }

  #miAcordeon1 {
    .btn-lg {
      --bs-btn-font-size: 1rem;
    }
  }

  .flex-1 > * {
    flex: 1;
  } /* Divisor de contenedores */

  .index-responsive, .card-blog-responsive, .card-nuestro-equipo-responsive {
    grid-template-columns: 1fr 1fr;
  }

  .card-sobre-nosotros-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {

  #miAcordeon1 {
    .btn-lg {
      --bs-btn-font-size: 1.25rem;
    }
  }
}

@media (min-width: 1200px) {

  .col-xl-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }/* section del html sobre-nosotros */

  .card-blog-responsive, .card-nuestro-equipo-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}