@import '../utilities/variables';

header, footer {
  .btn {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(133,196,64,1) 35%);
    border: 1px solid $negro !important;
    border-radius: 10px !important;
    color: $negro !important;
  }

  .navbar-nav > *, .text-decoration-none {
    transition: 1s;

    &:hover {
      background-color: $verde;
      border-radius: 10px;
    }
  } // Para los botones del header y footer
}